
NODE_ENV=development
PORT=4043

MONGO_URI_MAIN='mongodb+srv://satyamx55:satyamx55@dokopi.tfkdj.mongodb.net/?retryWrites=true&w=majority&appName=genui'
MONGO_URI_LOGS='mongodb://localhost:27017/genui-logs'

FRONTEND_URL=http://localhost:3000


#authenticaition 
NEXTAUTH_SALT='authjs.session-token'
NEXTAUTH_SECRET='satyam'

# __Secure-authjs.session-token


#redis configurations

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=12346

#email services
RESEND_API_KEY=


